@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --dot-size: 1rem;
}
body {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h2 {
    margin-top: 0;
}

.btn,
input::file-selector-button {
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(48, 92, 251);
    padding: .75rem 1.5rem;
    width: fit-content;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover,
input::file-selector-button:hover {
    background-color: rgb(76, 114, 251);
}

.btn:disabled {
    background-color: rgb(210, 210, 210);
}

input::file-selector-button:disabled {
    background-color: rgb(210, 210, 210);
}

input::file-selector-button {
    margin-right: 1rem;
}

.page {
    padding: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dot {
    position: absolute;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    transform: translate(-100%, -100%);
}

.dot.include {
    background-color: blue;
}

.dot.exclude {
    background-color: red;
}

#form_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}