<!doctype html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
</head>

<body>
  <div class="content">
    <form action="/" method=post enctype=multipart/form-data>
      <div id="form-content">
        <h2>Choose a picture</h2>
        <div id="input-container">
          <input id="img-input" type="file" accept=".png, .jpg, .jpeg" name="image_file" />
          <div id="input-container__checkbox-container">
            <label for="checkbox">Exclude</label>
            <label class="switch">
              <input id="checkbox" type="checkbox" name="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          <div id="input-container__radio-container">
            <p>Selection Type:</p>
            <div id="radio-container__inner-container">
              <input type="radio" id="radio-btn-point" name="selectionType" value="point" checked>
              <label for="radio-btn-point">Points</label>
              <input type="radio" id="radio-btn-box" name="selectionType" value="box">
              <label for="radio-btn-box">Box</label> 
            </div>
          </div>
          <input id="submit-btn" class="btn" type=submit value=Evaluate disabled />
        </div>
        <input id="coordinates-input" type="hidden" name="coordinates" value="" />
        <input id="labels-input" type="hidden" name="labels" value="" />
      </div>
    </form>
    <div id="img-container">
      <h2>Preview</h2>
      <div id="img-container__inner-container">
        <img src="" />
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </div>
</body>