<!doctype html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
</head>

<body>
  <div class="content">
    <form action="/" method=post enctype=multipart/form-data>
      <div id="form_content">
        <h2>Choose a picture</h2>
        <div id="input_container">
          <input id="img_input" type="file" accept=".png, .jpg, .jpeg" name="image_file" />
          <label for="checkbox">Exclude</label>
          <label class="switch">
            <input id="checkbox" type="checkbox" name="checkbox">
            <span class="slider"></span>
          </label>
          <input id="submit_btn" class="btn" type=submit value=Evaluate disabled />
        </div>
        <input id="coordinates_input" type="hidden" name="coordinates" value="" />
        <input id="labels_input" type="hidden" name="labels" value="" />
      </div>
    </form>
    <div id="img_container">
      <h2>Preview</h2>
      <img src="" />
    </div>
  </div>
</body>